@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
    font-size: 4vw;
   }

#aertel {
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    letter-spacing: 2px;
    width: 50%;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
}

.blue-bg {
    background-color: #0300fc;
    padding: 5px;
}

.center {
    text-align: center;
}

#controls {
    text-align: center;
    width: 100%;
}

#green {
    color: #00FF28;
}

#red {
    color: #EB0913;
}

#yellow {
    color: #F3FA2E;
}

#teal {
    color: #0CF8F5;
}

#controls {
    padding: 5px;
}

footer {
    margin: auto;
    text-align: center;
    padding: 5px;
}

/* Media Queries */
@media only screen and (max-width: 1300px) {
    #aertel {
      width: 75%;
    }
  }

@media only screen and (max-width: 865px) {
   #aertel {
    width: 100%;
   }
 }